{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirish</title>
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
</head>
<body>
<div class="card-back"></div>
<div class="card">        
        <form method="post">{% csrf_token %}
        <img src="{% static '/img/logo.png' %}" alt="logo" width=150>
        <p>Kirish</p>
        <input type="text" name="username" autofocus autocapitalize="none" autocomplete="phone" maxlength="20" required id="id_username" placeholder="Telefon">
        <input type="password" name="password" autocomplete="current-password" maxlength="20" required id="id_password" placeholder="Parol">
        <span>
            <input type="checkbox" id="remember">
            <label for="remember">Remeber Me</label>
        </span>
        <div class="buttons">
            <input type="submit" value="Login">
            {% comment %} <input type="button" value="Registration"> {% endcomment %}
        </div>
        </form>
    </div> 
</body>
</html>