body{
    /* background-image: -webkit-linear-gradient(top left, rgba(119, 10, 10, 0.6), rgba(25, 45, 156, 0.6)); */
    background-image: -webkit-linear-gradient(75deg, rgba(91, 53, 194, 0.6), rgba(60, 113, 182, 0.6));
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.card{
    box-sizing: border-box;
    width: 450px;
    height: 550px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(230, 230, 230, 0.5);
    box-shadow: -5px -3px 20px 10px rgba(32, 17, 49, 0.3);
    transition: all 0.5s;
}
.card form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.card-back{
    width: 450px;
    height: 550px;
    position: absolute;
    border-radius: 15px;
    background-color: rgba(230, 230, 230, 0.2);
    rotate: -20deg;
    transition: all 0.5s;
    z-index: -1;
}
.card:hover{
    background-color: rgba(243, 230, 255, 0.6);
    filter: blur(0);
}
.card input:not([type="submit"]){
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: rgb(42, 1, 80);
    border-radius: 10px 20px;
    border: 1px rgba(230, 230, 230, 0.5) solid;
    padding: 10px;
    transition: 0.2s;
}
.card input:not([type="submit"]):hover{
    border: 2px solid rgba(67, 53, 194, 0.7);
}
.card p{
    font-size: 1.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    margin: 0;
    color: rgb(67, 53, 194);
}
.card input[type="submit"]{
    width: 250px;
    padding: 10px;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    border-radius: 10px;
    border: 1px rgba(230, 230, 230, 0.5) solid;
    color: rgb(255, 255, 255);
    background-color: rgba(67, 53, 194, 0.5);
}
.card input[type="submit"]:hover{
    border: 2px solid rgba(67, 53, 194, 0.5);
}
.card input[type="submit"]:active{
    background-color: rgba(67, 53, 194, 0.6);
}
.card input[type="button"]{
    width: 150px;
    font-size: 1.15em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border: 1px rgba(230, 230, 230, 0.5) solid;
    background-color: rgba(67, 53, 194, 0.5);
}
.card input[type="button"]:active{
    background-color: rgba(67, 53, 194, 0.6);
}
.card span{
    width: 90%;
}
.card input[type="checkbox"]{
    margin-left: 25px;
    color: rgb(67, 53, 194);
    cursor: pointer;
}
label{
    color: rgb(67, 53, 194);
    font-size: 1.1em;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
.buttons{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}