.container{
    width: 100%;
}
td #Detail:hover, td #Detail:hover i{
    background-color: #396db1;
    color: white;
    transition: .2s;
}
td #Detail>i {
    color: #396db1;
}
td ul{
    list-style-type: none;
    padding: 0;
}
@media only screen and (max-width: 765px) {
    main{
        flex-direction: column;
    }
    .container{
        width: 100%;
    }
}
@media only screen and (max-width: 430px) {
    .container table td button > i{
        font-size: 0.9em;
    }
    .container table td button{
        width: 30px;
        height: 30px;
    }
    .container table td:last-child{
        width: 70px;
    }
}
@media only screen and (max-width: 300px) {
    .container table td button > i{
        font-size: 0.8em;
    }
    .container table td button{
        width: 25px;
        height: 25px;
    }
    .container table td:last-child{
        width: 60px;
    }
}