{% extends 'base.html' %}
{% load static %}
{% load customtags %}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/particle.css' %}">
{% endblock css %}
{% block header-title %}YUKLAMA{% endblock header-title %}
{% block content %}
<div class="container-control">
    <a href="{% url 'home' %}" id="Back">
        <i class='bx bx-arrow-back'></i>
        <span>Ortga</span>
    </a>
    <a href="{% url 'particle_create' %}" id="Add">
        <i class='bx bx-message-square-add'></i>
        <span>Qo'shish</span>
    </a>
    <a href="#" id="Export">
        <i class='bx bx-spreadsheet' ></i>
        <span>Export</span>
    </a>
</div>
<div class="container">
    {% if object_list %}
    <table>
        <caption>YUKLAMA</caption>
        <tr>
            <th>Fan</th>
            <th>Yo'nalish</th>
            <th>Potok</th>
            <th>Guruhlar</th>
            <th>Talabalar soni</th>
            <th>Kurs</th>
            <th>Til</th>
            <th>Semestr</th>
            <th>Ma'ruza</th>
            <th>Amaliyot</th>
            <th>Laboratoriya</th>
            <th>Seminar</th>
            <th>Kurs ishi</th>
            <th></th>
        </tr>
        {% for obj in object_list %}      
        {% if is_complete|index:obj.pk %}  
        <tr style="background-color: #2EB6274f">
        {% elif is_complete|index:obj.pk is False %}
        <tr style="background-color: #B6B6604f">
        {% else %}
        <tr>
        {% endif %}
            <td>{{ obj.science }}</td>
            <td>
                {% for major in obj.majors.all %}
                {{ major}}, 
                {% endfor %}
            </td>
            <td>{{ obj.flow }}</td>
            <td>{{ obj.group }}</td>
            <td>{{ obj.student_count }}</td>
            <td>{{ obj.course }}</td>
            <td>{{ obj.language }}</td>
            <td>{{ obj.semester }}</td>
            {% if is_complete|index:obj.pk %}  
                <td colspan=5>
                    Taqsimlangan
                </td>
            {% else %}
            <td>
                {{ particle_list|index:obj.pk|index:0 }}

            </td>
            <td>
                {{ particle_list|index:obj.pk|index:1 }}

            </td>
            <td>
                {{ particle_list|index:obj.pk|index:2 }}

            </td>
            <td>
                {{ particle_list|index:obj.pk|index:3 }}

            </td>
            <td>
                {{ particle_list|index:obj.pk|index:4 }}

            </td>
            {% endif %}
            <td>
                <button id="Edit" onclick="location.href=`{% url 'particle_edit' obj.pk %}`"><i class='bx bxs-edit-alt'></i></button>
                <button id="Delete" onclick="location.href=`{% url 'particle_delete' obj.pk %}`"><i class='bx bxs-trash' ></i></button>
                <button id="Detail" onclick="location.href=`{% url 'particle_teachers' obj.pk %}`"><i class='bx bx-refresh'></i></button>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Ma'lumot yo'q</p>
    {% endif %}
</div>
{% endblock content %}